.root {
  width: 100%;
  max-width: 300px; // set max to what you think looks best
  min-width: 300px;
  height: 1000vh;
  padding: 40px 36px;
  background: #ffe8d6;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

h1 {
  font-size: 36px;
  font-family: 'Poppins-Thin';
}

.list {
  margin-bottom: 2px;
}
